  
 <div id="views" class="btn-group">
    <%= link_to "", :class => "btn btn-primary", :type => "button" do %>
    <%= glyph "hand-up" %> Surface
    <% end %>

    <%= link_to "", :class => "btn btn-success", :type => "button" do %>
    <%= glyph "tasks" %> Structure
    <% end %>

    <%= link_to "", :class => "btn btn-danger", :type => "button" do %>
    <%= glyph "th" %> Bone
    <% end %>
</div>