<div class='col-md-2 col-lg-2 col-sm-2 col-xs-2 library-wrapper'>
	<div class='library-block' data-id="<%= swatch.id %>">	
	<%= link_to swatch_path(swatch.id) do %>
		<div class='img-wrapper'>
			<%= image_tag(swatch.thumbnail_url, :width => "100%") if swatch.thumbnail.present? %>

		</div>
		


	

		<div> 
			<h2> 
				<span class='cat'> </span> 
				<%= swatch.name %>
			</h2>
			<label> Dimensions </label>

			<span>BH: <%= swatch.base_height %></span>
			<span>D: <%= swatch.displacement %></span>
			<span>H: <%= swatch.height %></span>
			<span>W: <%= swatch.width %></span>
			<span>D: <%= swatch.depth %></span>

			<p><%= swatch.stl %></p>
			<p><%= swatch.thumbnail %></p>
			<p><%= swatch.user.email %></p>

			<span><%= link_to 'Show', swatch %></span>
			<span><%= link_to 'Edit', edit_swatch_path(swatch) %></span>
			<span><%= link_to 'Destroy', swatch, method: :delete, data: { confirm: 'Are you sure?' } %></span>
		</div>
	<% end %>
</div>
</div>





 <!-- image_tag_check library.img_thumb -->
			