<div class='col-md-2 col-lg-2 col-sm-2 col-xs-2 library-wrapper'>
	<div class='library-block' data-id="<%= swatch.id %>">	
	<%= link_to swatch_path(swatch.id) do %>
		<div class='img-wrapper'>
			<%= image_tag(swatch.thumbnail_url, :width => "100%") if swatch.thumbnail.present? %>

		</div>
		


	

		<div> 
			<h2> 
				<span class='cat'> <%= swatch.layer.name%> </span> 
				<%= swatch.name %>
			</h2>
			
			

			
		</div>
	<% end %>
</div>
</div>





 <!-- image_tag_check library.img_thumb -->
			