<div class="grid_12 alpha">
	<!-- DESCRIPTION -->
	<div class="grid_12">
		<h2> Haptic Print - Designing Feel Aesthetics for 3D Printing </h2>
		<p class='lead'>
			<em> 
				<%= link_to "Cesar Torres", "http://cearto.com"%>, 
				<%= link_to "Tim Campbell", "http://timbcampbell.com" %> , 
				<%= link_to "Neil Kumar", "https://www.linkedin.com/pub/neil-kumar/63/66/526" %>, 
				<%= link_to "Eric Paulos", "http://www.paulos.net"%>
			</em> 
		</p>
		<p>
		<%= image_tag "/hapticprint.png", :width => "100%"%>
		</p>
		<br>
		<p class='lead'> 
			Digital fabrication has enabled massive creativity in hobbyist communities and professional product design. These emerging technologies excel at realizing an arbitrary shape or form; however these objects are often rigid and lack the feel desired by designers. We aim to enable physical haptic design in passive 3D printed objects. This paper identifies two core areas for extending physical design into digital fabrication: designing the external and internal haptic characteristics of an object. We present HapticPrint as a pair of design tools to easily modify the feel of a 3D model. Our external tool maps textures and UI elements onto arbitrary shapes, and our internal tool modifies the internal geometry of models for novel compliance and weight characteristics. We demonstrate the value of HapticPrint with a range of applications that expand the aesthetics of feel, usability, and interactivity in 3D artifacts.
		</p>
		<p class="lead"> Demo by: Cesar Torres, Neil Kumar, Emily Chou, and Connor Freeman </p>
		<%= link_to swatches_path, :class => "btn btn-primary btn-lg" do %>
			<span class="glyphicon glyphicon-book"> </span> HapticPrint Library
		<% end %>

		<%= link_to "#", :disabled=>"true", :class => "btn btn-default btn-lg" do %>
			<span class="glyphicon glyphicon-file"> </span> HapticPrint UIST'15 Paper (available Nov 10)
		<% end %>
		</p>
	</div>



</div>

